.copia2.css¨{
	.copia2.css
{
	width:500px; 
	height:100px; 
	background-color:red;
	margin: 100px auto; 
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 10px solid purple;
}
¨
.copia2.css{
background-color: green;

font-size: 16px;

margin-top: 40px;

font-weight: bold;
}
